# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.ipynb_checkpoints/

# bckp
*old.md*

# macOS
.DS_Store

# SVG files
*.svg

# Jupyter setup
jupyter_setup/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# Data (uncomment if datasets become too large for GitHub)
# data/*.csv
