# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# Data (uncomment if datasets become too large for GitHub)
# data/*.csv
